@import "./assets/scss/app.scss";
@import '../node_modules/react-redux-toastr/src/styles/index';

.btnjokko{
    background: #225077;
    color: #fff;
}
.btnjokko:hover{
    color: #fff;
}
.pr-4{
    padding-right: 3.25rem !important;
}